/* Teal color: #009DAE; */
/* Gold/yellow color: #FFE652; */
@font-face {
    font-family: header;
    src: url('./assets/lastfontwastingonyou.ttf');
}
@font-face {
    font-family: author;
    src: url('./assets/NeonTech.ttf');
}